
.DS_Store
My Great App/.DS_Store
My Great App/MyGreatApp.help/Contents/.DS_Store
My Great App/MyGreatApp.help/Contents/Resources/.DS_Store
My Great App/MyGreatApp.help/Contents/Resources/en.lproj/.DS_Store
